.pop {
  width: 100%;
  background-color: rgb(41, 45, 41);
  transition: all 0.3s ease-out;
}
.pop:hover {
  background-color: var(--bg-light);
}

/* @media (max-width: 499px) {
  .pop {
    width: 100vw;
  }
}

@media (min-width: 500px) and (max-width: 800) {
  .pop {
    width: 100vw;
  }
} */
